version = "2.3.2"

align = more

maxColumn = 100

continuationIndent.callSite = 2

newlines {
  sometimesBeforeColonInMethodReturnType = false
}

docstrings = JavaDoc

rewrite {
  rules = [SortImports, RedundantBraces]
  redundantBraces.maxLines = 1
}
